/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/* Custom calendar elements */
.custom-calendar-wrap *,
.custom-calendar-wrap *:after,
.custom-calendar-wrap *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.custom-calendar-wrap{
	font-family: 'Open Sans',Arial;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 565px;
}

.custom-inner {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.custom-inner:before,
.custom-inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}
.content-custom-header
{
	background: transparent url(../images/txt-lema-lightbox-calendario.png) 0 13px no-repeat;
	padding-left: 345px;
}
.custom-header {
	background: #fff;
	padding: 5px 10px 10px 20px;
	height: 85px;
	position: relative;
	width: 220px;
}

.custom-header h2,
.custom-header h3 {
	text-align: center;
}

.custom-header h2 {
	color: #00619A;
	font-weight: 400;
	font-size: 33px;
	margin-top: 5px;
}

.custom-header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #b7bbc2;
}

.custom-header div#nav span {
	position: absolute;
	top: 17px;
	width: 21px;
	height: 38px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header div#nav span:first-child {
	left: 5px;
}

.custom-header div#nav span:last-child {
	right: 5px;
}
.custom-header div#nav span:before {
	font-family: 'fontawesome-selected';
	color: #ef4f69;
	position: absolute;
	text-align: center;
	width: 100%;
}
.custom-header div#nav span#custom-prev {
	display: block;
	background: transparent url(../images/flechas-nav-calendar.png) 0 0 no-repeat;
	left:0;
}
.custom-header div#nav span#custom-next {
	display: block;
	background: transparent url(../images/flechas-nav-calendar.png) -21px 0 no-repeat;
	right: 0;
}
.custom-header div#nav span.custom-prev:before {

}

.custom-header div#nav span.custom-next:before {
}

.custom-header div#nav span:hover:before {
	color: #495468;
}

.custom-content-reveal {
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.custom-content-reveal span.custom-content-close {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #ef4f69;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	line-height: 13px;
	padding: 0;
}

.custom-content-reveal span.custom-content-close:after {
	content: 'x';
	font-size: 18px;
	color: #fff;
}

.custom-content-reveal a,
.custom-content-reveal span {
	font-size: 22px;
	padding: 10px 30px;
	display: block;
}

.custom-content-reveal div#descripcion-evento {
	background-color: #fff;
	padding: 15px;
}
.custom-content-reveal div#descripcion-evento p{

	font-family: 'Open Sans', Arial;
}
.custom-content-reveal h4 {
	font-size: 24px;
	font-weight: 300;
	line-height: 23px;
	color: #005F99;
	margin: 5px 0 20px 0;
	text-align: left;
	width: 510px;
}
.custom-content-reveal h5 {
	font-size: 15px;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	color: #666666;
	margin: 0 0 15px 0;
	text-align: left;
	text-transform: uppercase;
}
.custom-content-reveal p.descripcion {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1px;
	color: #666666;
	margin: 0 0 15px 0;
	text-align: left;
}
.custom-content-reveal p.info {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1px;
	color: #666666;
	margin: 0 0 2px 0;
	text-align: left;
}
.custom-content-reveal span {
	color: #888;
}

.custom-content-reveal a {
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #0059B2;
	padding: 0;
	text-align: left;
	width: 480px;
}

.custom-content-reveal a:hover {
	color: #0059B2;
}

/* Navegacion de eventos */
div.galeria-eventos
{
	height:455px;
	left: 0;
	position: absolute;
	width:565px;
}
.bloque-evento
{
	width:565px;
	float:left;
}
.bloque-evento img
{
	border: none;
	display: block;
}
.content-desc
{
	height: 95px;
}
.nav-galeria-eventos
{
	position:absolute;
	bottom:10px;
	right:5px;
}
.nav-galeria-eventos ul
{
	margin: 0;
}
.nav-galeria-eventos ul li
{
	background: transparent url(../images/btn-nav-galeria-eventos.png) 0 0 no-repeat;
	cursor: pointer;
	float: left;
	height: 9px;
	list-style: none;
	margin-right: 3px;
	width: 10px;
}
.nav-galeria-eventos ul li:hover
{
	background: transparent url(../images/btn-nav-galeria-eventos.png) -10px 0 no-repeat;
}
.nav-galeria-eventos ul li.active
{
	background: transparent url(../images/btn-nav-galeria-eventos.png) -10px 0 no-repeat;
}
/* Modifications */

.fc-calendar-container {
	height: 370px;
	width: auto;
	background: #f6f6f6;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
}

.fc-calendar .fc-head {
	
	background: transparent url(../images/bg-header-calendar.png) 0 0 no-repeat;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	height: 42px;
	line-height: 42px;
	margin-bottom: 10px;
}
.fc-calendar .fc-body{
	height: 318px;
	border-right: none;
}

.fc-calendar .fc-row > div {
	background: #fff;
	cursor: pointer;
}

.fc-calendar .fc-row > div:empty {
	background: transparent;
}

.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #686a6e;
	font-weight: 400;
	pointer-events: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #ef4f69;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}

.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: #b02c42;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #ef4f69;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}
.fc-calendar .fc-row > div > div img
{
	display: none;
}
.fc-content div.galeria-eventos,
.fc-content .nav-galeria-eventos,
.fc-content h4,
.fc-content img,
.fc-content h5,
.fc-content div#descripcion-evento
{
	display: none;
}
@media screen and (max-width: 400px) {
	.fc-calendar-container {
		height: 300px;
	}
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 15px;
	}
}
