div#social-terminos
{
	
	/*background-image: url(../images/bg-transparent-40.png);
	background-repeat: repeat;
	background-position: 0 0;*/

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	bottom: 20px;
	height: 42px;
	left: 50%;
	margin-left: -480px;
	padding: 5px;
	position: absolute;
	width: 960px;
	/*behavior:url(//miralavida.pe/v2/PIE.php);*/
}
div#social-terminos:hover
{
	/*background-image: url(../images/bg-transparent-70.png);
	background-repeat: repeat;
	background-position: 0 0;*/
}
div#buttons-social
{
	height: 100%;
	float: left;
	width: 38%;
}
div#buttons-social .btnlike
{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 5px;
	float: left;
}
div#buttons-social .btnplus
{
	padding-top: 10px;
	float: left;
	width: 72px;
}
div#buttons-social .btntweet
{
	padding-top: 10px;
	float: left;
	width: 102px;
}
div#buttons-social .btnpintit
{
	padding-top: 10px;
	float: left;
	text-align: left;
	width: 65px;
}
div#buttons-social .btnpintit a
{
	margin: 0 !important;
}

div#terminos
{
	height: 100%;
	float: left;
	width: 62%;
}

div#terminos p
{
	/*color: #666;*/
	color:#fff;
	font-family: 'latoregular', Arial;
	font-size: 9px;
	line-height: 9px;
	margin: 0;
	text-align: justify;
}
div#main .copyright
{
	
	left:30%;
	position: absolute;
	bottom: 0px;
	text-transform: uppercase;
}
div#main .copyright p
{
	color: #fff;
	font-family: 'latobold', Arial;
	font-size: 10px;
	text-shadow: #000 1px 1px 5px;
	zoom:1;
	margin: 0;
	behavior:url(//miralavida.pe/v2/PIE.php);
}