@font-face {
    font-family: 'latolight';
    src: url('../fonts/LatoLight/lato-light-webfont.eot');
    src: url('../fonts/LatoLight/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoLight/lato-light-webfont.woff') format('woff'),
         url('../fonts/LatoLight/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/LatoLight/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/LatoBold/lato-bold-webfont.eot');
    src: url('../fonts/LatoBold/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoBold/lato-bold-webfont.woff') format('woff'),
         url('../fonts/LatoBold/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/LatoBold/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/LatoRegular/lato-regular-webfont.eot');
    src: url('../fonts/LatoRegular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoRegular/lato-regular-webfont.woff') format('woff'),
         url('../fonts/LatoRegular/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/LatoRegular/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}