*{outline: none;}
.clearfix{clear: both;}
.noscroll
{
    overflow-y: hidden;
}
html{height: 100%;width: 100%;}
body
{
	background: transparent url(../images/fondo.jpg) center 0 no-repeat;
	font-family: Arial;
	font-size: 16px;
	height: 100%;
	text-align: center;
	width: 100%;
}
.background{
	background-color: red;
	height: 720px;
	margin-left: -640px;
	position: absolute;
	left: 50%;
	top:0;
	width: 1280px;
}
#bg-full
{
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
#wrapper
{
	height: 650px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}


/********** Contenido *********/
div#main{
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
div#main #txt-lema
{
	top: 110px;
	left: 110px;
	position: absolute;
}
div#main #txt-lema p
{
	color: #465F00;
	font-family: 'latolight', Arial;
	font-size: 31px;
	text-align: left;
	width: 460px;
}
div#main #txt-lema p span
{
	font-family: 'latobold', Arial;
}
div#main #txt-precio
{
	top: 130px;
	right: 45px;
	position: absolute;
}
div#main #auto-composicion
{
	position: absolute;
	left: -100px;
	top: 215px;
}

/*************** Feed Social **************/
#content-tabs-social
{
	background: transparent url(../images/bg-box-socialwidget.png) 0 0 no-repeat;
	height: 205px;
	left: 682px;
	padding: 10px;
	position: absolute;
	top: 297px;
	width: 230px;
}

#content-tabs-social #menu { 
	padding: 0;
	margin: 0;
	position: absolute;
	left:10px;
	top: 10px;
	z-index: 2;
}
#content-tabs-social #menu li { 
	display: block; 
	width: 35px;
	height: 35px;
	float: left;
}
#content-tabs-social #menu li a { 

	border-top: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	-webkit-box-sizing:none !important!
	box-sizing: none !important;
	height: 30px;
	padding-top: 4px;
	line-height: 35px;
	width: 35px;
	float:left; 
	font-size: 12px;
	border-bottom: none;
	text-decoration: none;
	color: #000; 
	font-weight: bold;
}
#content-tabs-social #menu li.active a { 
	background: #fff;
	border-top: 1px solid #2D558E;
	border-left: 1px solid #2D558E;
	border-right: 1px solid #2D558E;
}
#content-tabs-social .content-facebook {
	float: left;
	height: 170px;
	clear: both; 
	border-top: none; 
	border-left: none; 
	background: #fff; 
	margin-top: 34px;
	/*padding: 10px 10px 10px 10px;*/ 
	width: 230px;
}
#content-tabs-social .content-twitter { 
	padding-top: 0;
	float: left;
	height: 168px;
	border: 1px solid #2D558E;
	clear: both; 
	background: #fff; 
	margin-top: 34px;
	overflow: hidden;
	/*padding: 10px 10px 10px 10px;*/ 
	width: 228px;
}
#content-tweets-scroll .jta-tweet-list
{
    height: 170px;
    overflow:auto;
}

/********************** Videos *********************/
div#content-video
{
	display: none;
	height: 100%;
	width: 100%;
}
/*.mejs-controls 
{visibility:hidden !important;display:none !important;}*/

/********************** Contador *********************/
div#video-contador
{
	background: transparent url(../images/bg-contador.png) 0 0 no-repeat;
	display: none;
	left: 10%;
	top: 70%;
	height: 73px;
	position: absolute;
	width: 443px;
	text-align: center;
	z-index: 4;
}
div#video-contador div.txt-contator
{
	color: #fff;
	height: 60px;
	line-height: 60px;
	font-family: Arial;
	font-size: 50px;
	position: absolute;
	left: 15px;
	top: 6px;
	width: 80px;
}
div#video-contador div.btn-si
{
	cursor: pointer;
	position: absolute;
	right: -15px;
	top: 12px;
}

/********************** Formulario de Registro *********************/
.overlay-formulario
{
	background-color: #444444;
	display: none;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -khtml-opacity: 0.85;
    -moz-opacity: 0.85;
	opacity: 0.85;
	position: absolute;
	width: 100%;
	z-index: 4;
}
#box-formulario
{
	background: transparent url(../images/bg-formulario.png) 0 0 no-repeat;
	height: 446px;
	display: none;
	left: 50%;
	margin-left: -207px;
	margin-top: -223px;
	position: absolute;
	top: 50%;
	width: 414px;
	z-index: 5;
}
.btn-close-lightbox-form
{
	cursor: pointer;
	height: 60px;
	position: absolute;
	right: -32px;
	top: -24px;
	width: 60px;
}
#box-formulario #form-registro
{
	padding-top: 155px;
}
#box-formulario #form-registro div.input
{
	padding-left: 167px;
	margin-bottom: 11px;
}
#box-formulario #form-registro input
{
	color: #003264;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	padding-left: 5px;
	width: 200px;
}
#btn-submit
{
	height: 39px !important;
	margin-left: 163px;
	margin-top: 10px;
	width: 113px !important;
}
#overlay-loader-form
{
	background: transparent url(../images/overlay-loader-formulario.png) 0 0 no-repeat;
	display: none;
	height: 446px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 414px;
}
#loader-img
{
	height: 25px;
	position: absolute;
	top: 204px;
	left: 201px;
	width: 25px;
}

/********************** Compromiso Facebook *********************/
div#compromiso
{
	display: none;
	height: 408px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -204px;
	width: 650px;
	z-index: 5;
}
div#compromiso div#box-image-compromiso
{
	background-color: #fff;
	height: 350px;
	width: 650px;
}
div#compromiso div#box-social
{
	background: transparent url(../images/bg-social.png) 0 0 no-repeat;
	height: 58px;
	width: 650px;
}
div.btn-share-facebook
{
	float: left;
	margin-left: 290px;
	margin-right: 20px;
	padding-top: 11px;
}
div.btn-share-twitter
{
	float: left;
	padding-top: 11px;
}
div.botontwitterhide
{
	margin-top: 6px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/* IE 8 */
	filter: alpha(opacity=0);/* IE 5-7 */
	-moz-opacity: 0;/* Netscape */
	-khtml-opacity: 0;/* Safari 1.x */
	opacity: 0;/* Good browsers */
	position: absolute;
}
div.btn-share-facebook img, div.btn-share-twitter img
{
	cursor: pointer;
}
div#box-preloder-compartir
{
	background-color: transparent;
	background-image:url(../images/bg-preloader-compartir.png);
	background-repeat:no-repeat;
	background-position:0 0; 

	display: none;
	height: 408px;
	position: absolute;
	top: 350px;
	left: 0;
	width: 650px;
	z-index: 6;
}
div.preloader-compartir
{
	background: transparent url(../images/loader-compartir.gif) 0 0 no-repeat;
	height: 20px;
	left: 50%;
	margin-left: -1px;
	margin-top: 15px;
	position: absolute;
	width: 20px;
}
/********************** Compromiso Facebook *********************/
/******* Lightbox Calendario ******/
.btn-close-lightbox
{
	cursor: pointer;
	height: 60px;
	position: absolute;
	right: -32px;
	top: -24px;
	width: 60px;
}
#lightbox-calendario
{
	background: transparent url(../images/bg-lightbox-calendario.jpg) 0 0 no-repeat;
	display: none;
	height: 480px;
	left: 50%;
	margin-left: -317px;
	margin-top: -255px;
	padding: 0 35px 15px 35px;
	position: absolute;
	top: 50%;
	width: 565px;
	z-index: 5;
}
#lema-lightbox-calendario
{
	height: 85px;
	text-align: left;
	width: 555px;
}
/******* End Lightbox Calendario ******/

div#content-descripcion-cerato
{
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 960px;
	z-index: 2;
}
div#content-descripcion-cerato .content
{
	padding-top: 105px;/*Optimizado par auna resolucion de 1024 x 700*/
	/*padding-top: 155px;*/
}
div#box-descripcion
{
	background: transparent url(../images/bg-box-descripcion.png) 0 0 no-repeat;
	height: 478px;
	position: relative;
	width: 960px;
}
div#box-descripcion div#btn-masinfo-cerato
{
	height: 36px;
	left: 292px;
	top: 186px;
	position: absolute;
	width: 188px;	
}
div#box-descripcion div#btn-masinfo-cerato a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
div#box-descripcion div.tit-seccion p
{
	color: #465F00;
	font-size: 40px;
	margin: 0 0 5px 0;
}
div#box-descripcion div.tit-seccion
{

	height: 105px;
	padding-left: 25%;
	text-align: left;
}
div#box-calendario
{
	
	left: 0;
	padding-top: 40px;
	padding-bottom: 10px;
	position: absolute;
	width: 250px;
}
div#box-calendario p
{	
	margin: 0;
}
div#box-calendario .tit-calendario
{
	
	color: #004C66;
	font-size: 17px;
	height: 45px;
	margin-bottom: 10px;
	text-align: left;
	width: 250px;
}
div#box-calendario div#lista-calendario
{
	padding-bottom: 15px;
	width: 250px;
}
div#lista-calendario .evento
{
	margin-left: 10px;
	border-bottom: 1px solid #888888;
	padding-bottom: 8px;
	width: 230px;
}
div#lista-calendario .evento .imagen
{
	float: left;
	height: 67px;
	margin-right: 7px;
	width: 67px;
}
div#lista-calendario .evento .txtpreview
{
	float: left;
	width: 153px;
}
div#lista-calendario .evento .txtpreview .fecha-evento
{
	
	color: #B20000;
	height: 20px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	text-align: left;
}
div#lista-calendario .evento .txtpreview .texto
{
	color: #525252;
	font-size: 11px;
	text-align: left;
	width: 100%;
}
div#btn-miracalendario
{
	height: 50px;
	text-align: left;
	position: absolute;
	width: 250px;
	left: 685px;
	top: 529px;
}
div#btn-miracalendario img
{
	cursor: pointer;
}
.overlay-calendario
{
	background-color: #444444;
	display: none;
	left: 0;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -khtml-opacity: 0.85;
    -moz-opacity: 0.85;
	opacity: 0.85;
	position: absolute;
	width: 100%;
	z-index: 5;
}