#header
{
	background-color: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 2px 2px 15px #666;
	-webkit-box-shadow: 2px 2px 15px #666;
	box-shadow: 2px 2px 15px #666;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -khtml-opacity: 0.95;
    -moz-opacity: 0.95;
	opacity: 0.95;
	
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 2em;
	width: 960px;
	z-index: 4;
	behavior:url(//miralavida.pe/v2/PIE.php);
}
#header div#logo
{
	position: absolute;
	left: 3%;
	margin-top: 1%;
}
#header nav#menu-principal
{
	height: 60px;
	float: right;
	margin-right: 20px;
}
#header nav#menu-principal ul
{
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#header nav#menu-principal ul li
{
	background: transparent url(../images/line-separate.gif) right center no-repeat;
	display:block;
	float: left;
	height: 100%;
	margin-right: 1.2em;
	padding: 0;
}
#header nav#menu-principal ul li.last-child
{
	background:none;
	margin-right: 0;
}
#header nav#menu-principal ul li:hover a,
#header nav#menu-principal ul li:hover span.menu-bold
{
	color: #B20000 !important;
}
#header nav#menu-principal ul li a.btn-principal
{
	background: transparent url(../images/vineta-nav.png) no-repeat 0 center;
	color: #666;
	display: block;
	font-family: 'Droid Sans', Arial;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
   	text-align: center;
   	text-transform: uppercase;
   	vertical-align: middle;
}
#header nav#menu-principal ul li span.menu-bold{
	color: #444444;
	font-weight: 600;
}

/************************************ Submenu Video Viral **************************/
#header nav#menu-principal ul li ul.submenu-viral{

	display: none;
	height: 235px;
	left: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	width: 100%;
}
#header nav#menu-principal ul li ul.submenu-viral li
{
	height: 100%;
	background: none;
	width: 100%,;
}
ul.submenu-viral li p
{
	color: #465F00;
	font-family: 'latolight', Arial;
	font-size: 38px;
	margin: 65px 0 0 60px;
	float: left;
	text-align: left;
	width: 430px;
}
ul.submenu-viral li p span
{
	font-family: 'latobold', Arial;
}

ul.submenu-viral li .btn-video-viral
{
	background: transparent url(../images/btn-video-viral.png) 0 0 no-repeat;
	cursor: pointer;
	height: 173px;
	float: right;
	margin:30px 0 0 0;
	position: relative;
	width: 447px;
}
ul.submenu-viral li .btn-video-viral:hover
{
	background-position: -447px 0;
}

ul.submenu-viral li .btn-video-viral a
{
	background: none !important;
	display: block;
	left: 65px;
	height: 170px !important;
	position: absolute;
	width: 300px;
}
/************************************ Submenu Videos **************************/
#header nav#menu-principal ul li ul.submenu-videos{

	display: none;
	height: 235px;
	left: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	width: 100%;
}
#header nav#menu-principal ul li ul.submenu-videos li
{
	height: 100%;
	background: none;
	width: 100%,;
}
ul.submenu-videos li p
{
	color: #465F00;
	font-family: 'latolight', Arial;
	font-size: 28px;
	margin: 65px 10px 0 20px;
	float: left;
	text-align: left;
	width: 250px;
}
ul.submenu-videos li p span
{
	font-family: 'latobold', Arial;
}

ul.submenu-videos li .group-videos
{
	float: right;
	margin-top: 40px;
}
ul.submenu-videos li .group-videos div#btn-puenting,
ul.submenu-videos li .group-videos div#btn-parapente,
ul.submenu-videos li .group-videos div#btn-paddle
{
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
ul.submenu-videos li .group-videos .last-child
{
	margin-right: 0 !important;
}
