@import url(reset.css);
body{

	font-family: "Verdana", "Arial";
	background-color:#E0DEDE;
	font-size:12px;
}
*:focus{outline: none;}
.clearfix{clear: both;}
.zebra_alertbox{
	font-family: 'Raleway';
	font-size: 15px;
}
.zebra_alertbox h2{
	font-size: 17px;
	font-family: 'Raleway';
	font-weight: bold;
	margin-bottom: 4px;
}
.txt_help{
	font-style: italic;
	font-size: 14px;
}
div#wrapper{
	background-image:url(../images/bg_header.jpg);
	background-position:0 0;
	background-repeat:repeat-x;
	background-color: #F4F4F4;
	width:960px;
	margin: 0 auto;
	position: relative;
}
div#main{
	background-image:url(../images/bg_sidebar.jpg);
	background-position:0 0;
	background-repeat:repeat-y;
	width:960px;
	height: auto;
}
div#main form{
	margin:0;
}
#header{
	height: 105px;
	width: 960px;
	text-align: center;
	padding-top: 15px;
}
#header h1{
	color: #fff;
	font-family: 'Raleway';
	font-size: 28px;
	font-weight: 400;
	margin: 0;
	text-shadow: 2px 2px 3px #000;
}
#header .content-welcome{
	color: #fff;
	font-family: 'Raleway';
	font-size: 16px;
	padding-top: 30px;
	padding-left: 10px;
	text-align: left;
}
#header #menu_principal{
	padding-top: 21px;
	padding-left: 10px;
}
#header #menu_principal a{
	color: #fff;
}
#header #menu_principal a:hover{
	color: #666;
}
#header #menu_principal li.active a:hover{
	color: #fff;
}
#content-bienvenida{
	color: #fff;
	text-align: left;
	padding-top: 23px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
}
#content-logout{
	height: 30px;
	position: absolute;
	right: 0;
	margin-right: 10px;
	top: 78px;
}
#footer{
	background-image:url(../images/bg_footer.jpg);
	background-position:0 0;
	background-repeat:repeat-x;
	display: block;
	height: 41px;
	width: 960px;
}
#sidebar{
	float: left;
	height: auto;
	width: 235px;
	padding: 10px 0 60px 0;
}
#sidebar h1{
	font-family: 'Raleway';
	font-size: 17px;
	padding-left: 17px;
	font-weight: normal;
}
#sidebar h2{
	font-family: 'Raleway';
	font-size: 15px;
	line-height: 15px;
	font-weight: 500;
}

#cont_filtro_fecha{
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
input#filtro_fecha{
	width: 165px;
}
#cont_filtro_tipo{
	padding-left: 10px;
	padding-bottom: 10px;
}
#cont_filtro_tipo select{
	cursor: pointer;
	width: 206px;
}
#cont_btngenerar{
	padding-left: 10px;
}

#menu{
	font-family: 'Raleway';
	margin-top: 30px;
	margin-bottom: 60px;
	padding-left: 25px;
}
#menu ul{
	padding: 0px;
	margin: 0px;
}
#menu h1{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 14px;
}
#menu li{
	background-image:url(../images/bg_item_menu_sidebar.jpg);
	background-position:0 0;
	background-repeat:repeat-x;
	display: block;
	height: 32px;
	line-height: 32px;
	width: 185px;
}
#menu li.activo{
	background-image:url(../images/bg_item_menu_sidebar.jpg);
	background-position:0 -32px;
	background-repeat:repeat-x;
	display: block;
	height: 32px;
	line-height: 32px;
	width: 185px;
}
#menu li a{
	color: #000000;
	font-size: 13px;
	text-decoration: none;
}

/* Contenido */
#contenido{
	background-color: #F4F4F4;
	float: left;
	height: auto;
	width: 696px;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 14px;
}
.addicon{
	float: left;
	padding-left: 10px;
	padding-top: 2px;
}
#btn_descargar_reporte{
	font-size: 25px;
	margin: 0 auto;
	width: 200px;
	height: 60px;
	margin-top: 50px;
	margin-left: 250px;
	margin-bottom: 50px;
}
div.options input{
	cursor: pointer;
}
#content_datepicker{border: 1px solid green;
	color: #ffffff;
	font-family: 'Raleway';
	float: left;
	height: 70px;
	width: 340px;
}
select.error, input.error{
	border-color: #B94A48 !important;
}

/* LOGIN */
#bd_login{
	background-color: #f4f4f4;
}
#bd_login #wrapper{
	background-image: none;
}
#bd_login div#main{
	background-image: none;
}
#content-login{
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 9px #ccc;
	-moz-box-shadow: 2px 2px 9px #ccc;
	box-shadow: 2px 2px 9px #ccc;
	width: 260px;
	padding: 10px 20px 20px 20px;
	margin: 50px auto 30px auto;
}
#content-login h2{
	text-align: center;
	font-size: 25px;
	margin: 0 0 10px 0;
}
#content-login input{
	margin-bottom: 15px;
}
#content-login button{
	display: block;
}
